src/LexiconManager/Code/WebLex/data/word.dtd

<!ELEMENT WORD (POS*)>
<!ATTLIST WORD name CDATA #REQUIRED
	       modified CDATA #REQUIRED>
<!ELEMENT POS (MORPH*,CLASS*)>
<!ATTLIST POS name CDATA #REQUIRED>
<!ELEMENT MORPH EMPTY>
<!ATTLIST MORPH cat CDATA #REQUIRED
		from CDATA #IMPLIED
		to CDATA #IMPLIED>
<!ELEMENT CLASS (FRAME*)>
<!ATTLIST CLASS onttype CDATA #REQUIRED
		words CDATA #REQUIRED
		ancestors CDATA #REQUIRED>
<!ELEMENT FRAME EMPTY>
<!ATTLIST FRAME desc CDATA #REQUIRED
		example CDATA #IMPLIED>

